body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color : white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

section {
    padding: 2rem 1rem;
}

#about img {
    width: 50%;
    height:50%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#skills {
    display: flex;
    align-items: left;
}

#skills h2 {
    width: 100%;
}

.skills-container {
    display: flex;
    align-items: right;
}

.skills-container ul {
    list-style-type: none;
    padding: 0;
    margin-right: 2rem;
}

.skills-container li {
    background: #e2dfdf;
    
}

.skills-container img {
    width: 50%; /* Adjust the size as needed */
    height: 50%;
}

#projects .project {
    margin-bottom: 2rem;
}

#projects img {
    width: 100%; /* Adjust the size as needed */
    max-width: 200px; /* Ensure the image does not exceed 200px width */
    height: auto;
}

#resume a {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

#contact p {
    margin: 0.5rem 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
